<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key ="stripePublishableKey" value="pk_test_51K9w2vKwDH39ZurYPWrmefBb56PHewYBFv99ONZ8tN1WmXnCNVJ0R0akQaueq2aQFOye4K4eX9xheWew8Wb9WYW200OXUHe1Ry"/>
		<add key="stripeSecretKey" value="sk_test_51K9w2vKwDH39ZurYkBSBD4b1FwAES3Pxq95gxxxbEQUJgSpBr19mYAeJrju0mmwykCA6BE9wZHDg0VYZX8SNPjEc00sFsc2LMW"/>
	</appSettings>
</configuration>